#subjectName, #paperName {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #252525;
}

#gap {
    -fx-stroke-width: 3px;
}

#describe, #teacherPrompt, #teacherData, #deadlinePrompt, #deadlineData {
    -fx-text-fill: #252525;
    -fx-font-size: 20px;
}




.scroll-pane {
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 5em;
}

