#selector {
    -fx-background-color: rgb(250, 250, 250);
}

#subjectSelector {
    -fx-background-color: transparent;
}

#subjectSelector .combo-box-popup  .list-cell:hover {
    -fx-background-color: orange;
}

#subjectSelector .combo-box-popup .list-cell {
    -fx-label-padding: 3, 15, 3, 15;
}

#subjectSelector .combo-box-popup .list-cell:selected {
    -fx-border-width: 1px;
    -fx-border-color: orange;
    -fx-background-color: white;
    -fx-text-fill: black;
}

#addPaperBtn, #addSubjectBtn {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: steelblue;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.scroll-pane {
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 5em;
}