.text {
    -fx-text-fill: #252525;
}

#questionTitle {
    -fx-font-size: 30px;
    -fx-font-weight: bold;

}

#questionDescribe {
    -fx-font-size: 20px;
    -fx-text-fill: #252525;
}

#code {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

#code .scroll-pane {
    -fx-border-width: 2px;
    -fx-border-color: rgb(230, 230, 230);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-background-radius: 5em;
}

.content {
    -fx-background-color: transparent;
}

#submit {
    -fx-background-color: black;
    -fx-font-size: 20px;
    -fx-text-fill: rgb(250, 250, 250);
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

#message {
    -fx-font-size: 20px;
    -fx-text-fill: #252525;
}
